{
    email {$ACME_EMAIL}
}

{$SITE_ADDRESS} {
    encode gzip zstd

    route {
        reverse_proxy /api/* backend:8080

        reverse_proxy /ws* backend:8080

        reverse_proxy /uploads/* backend:8080

        reverse_proxy /health backend:8080

        root * /usr/share/caddy
        try_files {path} /index.html
        file_server
    }
}
